{% extends 'base.html' %}

{% block content %}
<section class="content">
    <div class="container">
        <form class="custom-form" style="margin-top:20px;" method="POST">
            <div class="row">
                {% csrf_token %}
                <div class="col-md-4">
                    <div class="mb-3">
                        {{form.place}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        {{form.title}}
                    </div>
                </div>
                <div class="col-md-4">
                    {{form.order}}
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        {{form.hint}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        {{form.description}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        {{form.right_answer}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        {{form.re_answer}}
                        <label class="form-check-label" for="re_answer" style="color:gray; font-size:24px;">Указать в качестве ответа регулярное выражение</label>
                    </div>

                    <div class="form-check">
                        {{form.manual_test}}
                        <label class="form-check-label" for="manual_test" style="color:gray; font-size:24px;">Проверить ответ в ручную</label>
                    </div>
                </div>
            </div>
            <button class="btn float-end" style="margin-top:20px;">Сохранить</button>
        </form>
    </div>
</section>

<div class="col-4 errors-second">
    {% for key, value in form.errors.items  %}
    <div style="margin: 12px;" class="alert bg" role="alert" onclick="this.style.display = 'none';">
      {{value}}
    </div>
    {% endfor %}
</div>
{% endblock %}