body {
  font-family: "Jura", sans-serif;
  background-color: #04001A;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    background-color: #712cf9;
    color: white;
    font-size: 24px;
    height: 120px;
    border-radius: 4vh;
}