* {
    box-sizing: border-box;
}

p {
    text-align: center;
}

body{
    background-color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

/*body.active {*/
/*    background-color: #200772;*/
/*}*/

.container{
    width: 800px;
    height: 450px;
    padding: 40px 0;
    position: relative;
}

.block{
    height: 100%;
    background-color:#712cf9;
    box-shadow: 0 5px 45px #200772;
    display: flex;
    align-items: center;
}

.col{
    margin-bottom: 20px;
}

.errors{
    left: 0;
    top: 0;
    position: absolute;
    padding-top: 10px;
    padding-left: 4px;
    width: 25%;
}
.bg{
background-color: #712cf9;
color:white;
}
.errors li{
    list-style-type: none;
}

.block__item {
    width: 50%;
}

.block-item {
    text-align: center;
}

.block-item__title{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.form-box{
    background-color: white;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px #200772;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.form-box.active{
    left: 50%;
}

.form-box.active .form_signin{
    transition-delay: 0s;
    left: -100%;
}

.form-box.active .form_signup{
    transition-delay: 0.25s;
    left: 0;
}
.form-box.active .form_forgot{
    transition-delay: 0s;
    left: -100%;
}

.form_signin{
    left: 0;
    transition-delay: 0.25s;
}
.form_forgot{
    left: 0;
    transition-delay: 0.25s;
}
.form_signup{
    left: 100%;
    transition-delay: 0s;
}

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
}
.form__title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: solid 1px #333;
    font-size: inherit;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: black;
    color: aliceblue;
    padding: 10px 50px;
    width: 100%;
}

.form__forgot{
    color: black;
    cursor: pointer;
}

.form__signin{
    color: black;
    cursor: pointer;
}

.form_forgot{
    display: none;
}

.show{
    display: block;
}

.close {
    display: none;
}


@media (max-width: 992px) {
    .container{
        max-width: 400px;
        height: 650px;
        padding: 0;
        margin: 0 20px;
    }
    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .block-item{
        width: 100%;
        padding: 30px 0;
    }

    .form-box{
        width: 100%;
        height: 500px;
        box-shadow: none;
        top: 0;
    }
    .form-box.active {
        top: 150px;
        left: 0;
    }
    
}