body {
  font-family: "Jura", sans-serif;
  background-color: #04001A;
}

.background-color-second {
    background-color:#712cf9;
}
.navbar {
    font-size: 18px;
    font-weight: 900;
}

.navbar-brand{
    color: white;
    font-size: 42px;
}
.dropdown-menu{
    z-index: 99999;
}
.navbar-brand:hover{
    color: #FFD700;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: white;
}

.nav-link{
    font-size:24px;
}

.dropdown-item{
    color: white;
    font-weight: 900;
}

.sidebar {
    height: 100%;
    border-radius: 0 0 12px 12px
}

@media (max-width: 768px) {
    .sidebar {
        height: 100%;
    }
}

.main-container{
    margin-top: 20px;
}

.card img{
    height: 200px;
    object-fit: fill;
}

.card {
    background-color: gray;
    color: white;
    margin-top: 20px;
    border-radius: 12px;
}

.nav{
    display: inline-block;
}
.username{
    font-size:20px;
}

.course_part {
    color: white;
    font-size: 26px;
}

.sidebar_item{
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 26px;
}
.background-color-second {
    background-color:#712cf9;
}

.text-color-scnd{
    color:gray;
}

.errors{
    cursor: pointer;
    left: 0;
    top: 0;
    position: absolute;
    padding-bottom: 10px;
    padding-left: 4px;
    z-index: 99999;
}
.errors-second{
    cursor: pointer;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 99999;
}

.bg{
    background-color: #712cf9;
    color:white;
}
.errors li{
    list-style-type: none;
}


.select-btn{
    border-radius:8px;
    padding: 18px;
    text-align:center;
    background-color:white;
    cursor: pointer;
}

.btn.close{
    background-color: #712cf9;
}

.btn {
    color:white;
    font-size: 24px;
    background-color: #712cf9;
}


.continue{
    font-size: 16px;
}
.btn.active{
    color: white;
    background-color:#712cf9;
}

.activity-item{
    font-size: 18px;
    font-weight: bold;
}
.activity-item a{
    color: white;
    font-weight: bold;
}














