{% extends 'base.html' %}

{% block head %}
{{form.media}}
    <style>
        .sortable-list {
          list-style-type: none;
          padding: 0;
        }
        .sortable-list li {
          font-size: 24px;
          margin-bottom: 5px;
          padding: 10px;
          background-color: #f4f4f4;
          border: 1px solid #ddd;
          cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container">
            <form class="custom-form" style="margin-top:20px;" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            {{form.title}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form.theory }}
                    </div>
                    <div class="col-md-12 mb-3">
                        {{ form.practice }}
                    </div>
                    <div class="col-md-8" style="">
                        <div class="mb-3">
                            {{form.video}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{form.order}}
                    </div>
                </div>
                <button class="btn float-end" style="margin-top:20px;">Сохранить</button>
            </form>

            <div class="col-md-12" style="border-radius: 12px; margin-top:60px;">
                <h4 style="color:white;">Задачи</h4>
                <ul id="sortable" class="sortable-list">
                    {% for simple_task in object.simpletask_set.all %}
                        <li class="list-group-item">{{simple_task.title}}
                            <span style="float:right;">
                                <a
                                    href="{% url 'education_app:update_simple_task' simple_task.pk %}">Изменить
                                </a>
                            </span>
                            <span style="float:right;">
                                <a
                                    href="{% url 'education_app:delete_simple_task' simple_task.pk %}">Удалить
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item text-center"><a class="btn" href="{% url 'education_app:create_simple_task' object.pk %}">Добавить задачу</a></li>
                </ul>
            </div>
            <div class="col-md-12" style="border-radius: 12px; margin-top:60px;">
                <h4 style="color:white;">Задачи с вариантами ответов</h4>
                <ul id="sortable" class="sortable-list">
                    {% for quiz in object.quizquestion_set.all %}
                        <li class="list-group-item">{{quiz.title}}
                            <span style="float:right;">
                                <a
                                    href="{% url 'education_app:update_quiz' quiz.pk %}">Изменить
                                </a>
                            </span>
                            <span style="float:right;">
                                <a
                                    href="">Удалить
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item text-center"><a class="btn" href="{% url 'education_app:create_quiz' object.pk %}">Добавить квиз</a></li>
                </ul>
            </div>
            <div class="col-md-12" style="border-radius: 12px; margin-top:60px;">
                <h4 style="color:white;">Задачи с файлами в ответах</h4>
                <ul id="sortable" class="sortable-list">
                    {% for task_w_f in object.taskwithfile_set.all %}
                        <li class="list-group-item">{{task_w_f.title}}
                            <span style="float:right;">
                                <a
                                    href="{% url 'education_app:update_task_with_file' task_w_f.pk %}">Изменить
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item text-center"><a class="btn" href="{% url 'education_app:create_task_with_file' object.pk %}">Добавить задачу с файловым ответом</a></li>
                </ul>
            </div>

            <div class="col-md-12" style="border-radius: 12px; margin-top:60px;">
                <h4 style="color:white;">Задачи с кодом</h4>
                <ul id="sortable" class="sortable-list">
                    {% for code_task in object.codetask_set.all %}
                        <li class="list-group-item">{{code_task.title}}
                            <span style="float:right;">
                                <a
                                    href="{% url 'education_app:update_code_task' code_task.pk %}">Изменить
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item text-center"><a href="{% url 'education_app:create_code_task' object.pk %}" class="btn">Добавить задачу с кодом</a></li>
                </ul>
            </div>

        </div>
    </section>
<div class="col-4 errors-second">
    {% for key, value in form.errors.items  %}
    <div style="margin: 12px;" class="alert bg" role="alert" onclick="this.style.display = 'none';">
      {{value}}
    </div>
    {% endfor %}
</div>
{% endblock %}
