{% extends 'base.html' %}
{% load static %}


{% block head %}

    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'css/video-js.css' %}">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}" />
    <link rel="stylesheet" href="{% static 'codemirror/theme/ayu-dark.css' %}" />
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    {% for js_req in code_task_form.js_reqs %}
        <script src="{% static 'codemirror/mode/' %}{{js_req}}"></script>
    {% endfor %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 100%;">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar background-color-second">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    {% for course_part in course_parts %}
                        <li class="nav-item dropdown">
                            <a style="white-space: inherit;" class="nav-link dropdown-toggle course_part" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{course_part.title}}
                            </a>
                            <ul class="dropdown-menu" style="right: 0; left: auto; background-color: #712cf9;">
                                {% for lesson in course_part.lesson_set.all %}
                                    <li><a class="dropdown-item lesson" href="{% url 'education_app:lesson' lesson.pk %}">{{lesson.title}}</a></li>
                                {% endfor %}
                                {% if request_user_is_owner %}
                                    <li><a class="dropdown-item lesson" href="{% url 'education_app:update_course_part' course_part.pk %}">Редактировать</a></li>
                                    <li><a class="dropdown-item lesson" href="{% url 'education_app:delete_course_part' course_part.pk %}">Удалить</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container" style="background-color: #04001A; height: 100%; border-radius: 24px;">
                <div class="lesson-header" style="padding-top:40px; margin-top: 48px;">
                    <div class="lesson-info">
                        <div class="lesson-title">
                            {{object.title}}
                        </div>
                        <div class="lesson-count">
                            Урок {{object.order}} из {{object.lessons_count}}
                        </div>
                    </div>
                </div>

                {% if request.user.is_teacher %}
                    {% if request.user.teacher == object.course_part.course.author %}
                        <div class="row">
                            <div class="col-md-12 mb-3 d-flex justify-content-center">
                                <a href="{% url 'education_app:update_lesson' object.pk %}" class="btn">Редактировать</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                <div class="d-flex justify-content-center" style="padding-bottom: 40px; margin-bottom: 20px;">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">

                        {% if object.theory %}
                            <button type="button" class="btn lesson-part-btn active">Теория</button>
                        {% endif %}

                        {% if object.video %}
                            <button type="button" class="btn lesson-part-btn">Видео</button>
                        {% endif %}

                        {% if object.practice %}
                            <button type="button" class="btn lesson-part-btn">Практика</button>
                        {% endif %}

                        {% if code_task_form %}
                            <button type="button" class="btn lesson-part-btn">Код</button>
                        {% endif %}

                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-center">
                        {% for message in messages %}
                        <div class="alert bg" role="alert">
                              {{message}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% if object.theory %}
                <hr class="border-2 border-top" style="border-color:gray;"/>
                <div class="lesson-content active">
                    <div class="lesson-text">
                        {{object.theory|safe}}
                    </div>

                    {% if theory_task|length > 0 or theory_quiz|length > 0 or theory_task_w_file|length > 0 %}
                        <div class="questions">
                            <h2 style="text-align: center;">Для завершения урока решите задачи</h2>
                            <hr class="border-2 border-top" style="border-color:gray;"/>
                            <div class="accordion" id="theory-task-list">
                                {% for task in theory_task %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#task_{{task.pk}}" aria-expanded="true" aria-controls="task_1">
                                                <h4>
                                                    {{task.title}}
                                                    {% if request.user in task.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Решено!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="task_{{task.pk}}" class="accordion-collapse collapse" data-bs-parent="#theory-task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#task_{{task.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="task_{{task.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="task_{{task.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{task.hint}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{task.description}}</div>

                                                    <form action="{% url 'education_app:answer_to_simple_task' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="simple_task" value="{{task.pk}}">
                                                        <div class="mb-3">
                                                            <input type="text" class="form-control" name="answer" placeholder="Введите ваш ответ">
                                                        </div>
                                                        <button class="btn">Проверить</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                {% for quiz in theory_quiz %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#quiz_{{quiz.pk}}" aria-expanded="true" aria-controls="{{quiz.pk}}">
                                                <h4>
                                                    {{quiz.title}}
                                                    {% if request.user in quiz.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="quiz_{{quiz.pk}}" class="accordion-collapse collapse" data-bs-parent="#theory-task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#quiz_{{quiz.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="quiz_{{quiz.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="quiz_{{quiz.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{quiz.hint}}</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{quiz.description}}</div>
                                                    <form action="{% url 'education_app:answer_to_quiz' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="quiz" value="{{quiz.pk}}">
                                                        {% for answer in quiz.answer_set.all %}
                                                        <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" value="{{answer.pk}}" name="answers" id="{{answer.pk}}">
                                                              <label class="form-check-label" for="{{answer.pk}}">
                                                                  {{answer.text}}
                                                              </label>
                                                        </div>
                                                        {% endfor %}
                                                        <button type="submit" class="btn mt-2">Проверить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                {% for task_w_file in theory_task_w_file %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#task_w_file_{{task_w_file.pk}}" aria-expanded="true" aria-controls="{{task_w_file.pk}}">
                                                <h4>
                                                    {{task_w_file.title}}
                                                    {% if request.user in task_w_file.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="task_w_file_{{task_w_file.pk}}" class="accordion-collapse collapse" data-bs-parent="#theory-task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#task_w_file_{{task_w_file.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="task_w_file_{{task_w_file.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="task_w_file_{{task_w_file.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{task_w_file.hint}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{task_w_file.description}}</div>
                                                    <form action="{% url 'education_app:answer_to_task_w_file' %}" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{answer_to_task_w_file_form.file}}
                                                        <input type="hidden" id="task" name="task" value="{{task_w_file.pk}}">
                                                        <button type="submit" class="btn">Отправить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
                {% endif %}
                {% if object.video %}
                <div class="lesson-content">
                    <div class="lesson-text">
                        <div class="col-12 videoplayer">
                            <video
                                    id="video"
                                    class="video-js col-12"
                                    style="height: 60vh;"
                                    controls
                                    preload="auto"
                                    width="1200"
                                    height="800"
                                    data-setup="{}"
                            >
                                <source src="{% url 'education_app:video_stream' object.pk %}" type="video/mp4">
                            </video>
                        </div>

                    {% if video_task|length > 0 or video_quiz|length > 0 %}
                        <div class="questions">
                            <h2 style="text-align: center;">Для завершения урока решите задачи</h2>
                            <hr class="border-2 border-top" style="border-color:gray;"/>
                            <div class="accordion" id="practice-task-list">
                                {% for task in video_task %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#task_{{task.pk}}" aria-expanded="true" aria-controls="task_1">
                                                <h4>
                                                    {{task.title}}
                                                    {% if request.user in task.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="task_{{task.pk}}" class="accordion-collapse collapse" data-bs-parent="#task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#task_{{task.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="task_{{task.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="task_{{task.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{task.hint}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{task.description}}</div>

                                                    <form action="{% url 'education_app:answer_to_simple_task' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="simple_task" value="{{task.pk}}">
                                                        <div class="mb-3">
                                                            <input type="text" class="form-control" name="answer" placeholder="Введите ваш ответ">
                                                        </div>
                                                        <button class="btn">Проверить</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for quiz in video_quiz %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#quiz_{{quiz.pk}}" aria-expanded="true" aria-controls="{{quiz.pk}}">
                                                <h4>
                                                    {{quiz.title}}
                                                    {% if request.user in quiz.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="quiz_{{quiz.pk}}" class="accordion-collapse collapse" data-bs-parent="#theory-task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#quiz_{{quiz.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="quiz_{{quiz.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="quiz_{{quiz.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{quiz.hint}}</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{quiz.question}}</div>
                                                    <form action="{% url 'education_app:answer_to_quiz' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="quiz" value="{{quiz.pk}}">
                                                        {% for answer in quiz.answer_set.all %}
                                                        <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" value="{{answer.pk}}" name="answers" id="{{answer.pk}}">
                                                              <label class="form-check-label" for="{{answer.pk}}">
                                                                  {{answer.text}}
                                                              </label>
                                                        </div>
                                                        {% endfor %}
                                                        <button type="submit" class="btn">Проверить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                {% for task_w_file in theory_task_w_file %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#task_w_file_{{task_w_file.pk}}" aria-expanded="true" aria-controls="{{task_w_file.pk}}">
                                                <h4>
                                                    {{task_w_file.title}}
                                                    {% if request.user in task_w_file.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="task_w_file_{{task_w_file.pk}}" class="accordion-collapse collapse" data-bs-parent="#theory-task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#task_w_file_{{task_w_file.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="task_w_file_{{task_w_file.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="task_w_file_{{task_w_file.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{task_w_file.hint}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{task_w_file.description}}</div>
                                                    <form action="{% url 'education_app:answer_to_task_w_file' %}" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{answer_to_task_w_file_form.file}}
                                                        <input type="hidden" id="task" name="task" value="{{task_w_file.pk}}">
                                                        <button type="submit" class="btn">Отправить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if object.practice %}
                <div class="lesson-content">
                    <div class="lesson-text">
                        {{object.practice|safe}}
                    {% if practice_task|length > 0 or practice_quiz|length > 0 %}
                        <div class="questions">
                            <h2 style="text-align: center;">Для завершения урока решите задачи</h2>
                            <hr class="border-2 border-top" style="border-color:gray;"/>
                            <div class="accordion" id="practice-task-list">
                                {% for task in practice_task %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#task_{{task.pk}}" aria-expanded="true" aria-controls="task_1">
                                                <h4>
                                                    {{task.title}}
                                                    {% if request.user in task.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="task_{{task.pk}}" class="accordion-collapse collapse" data-bs-parent="#task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#task_{{task.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="task_{{task.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="task_{{task.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{task.hint}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{task.description}}</div>

                                                    <form action="{% url 'education_app:answer_to_simple_task' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="simple_task" value="{{task.pk}}">
                                                        <div class="mb-3">
                                                            <input type="text" class="form-control" name="answer" placeholder="Введите ваш ответ">
                                                        </div>
                                                        <button class="btn">Проверить</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                {% for quiz in practice_quiz %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#quiz_{{quiz.pk}}" aria-expanded="true" aria-controls="{{quiz.pk}}">
                                                <h4>
                                                    {{quiz.title}}
                                                    {% if request.user in quiz.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="quiz_{{quiz.pk}}" class="accordion-collapse collapse" data-bs-parent="#theory-task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#quiz_{{quiz.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="quiz_{{quiz.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="quiz_{{quiz.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{quiz.hint}}</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{quiz.question}}</div>
                                                    <form action="{% url 'education_app:answer_to_quiz' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="quiz" value="{{quiz.pk}}">
                                                        {% for answer in quiz.answer_set.all %}
                                                        <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" value="{{answer.pk}}" name="answers" id="{{answer.pk}}">
                                                              <label class="form-check-label" for="{{answer.pk}}">
                                                                  {{answer.text}}
                                                              </label>
                                                        </div>
                                                        {% endfor %}
                                                        <button type="submit" class="btn">Проверить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for task_w_file in theory_task_w_file %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#task_w_file_{{task_w_file.pk}}" aria-expanded="true" aria-controls="{{task_w_file.pk}}">
                                                <h4>
                                                    {{task_w_file.title}}
                                                    {% if request.user in task_w_file.students_that_solved.all %}
                                                        <span class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                    {% endif %}
                                                </h4>
                                            </button>
                                        </h2>
                                        <div id="task_w_file_{{task_w_file.pk}}" class="accordion-collapse collapse" data-bs-parent="#theory-task-list">
                                            <div class="accordion-body">
                                                <div class="question">
                                                    <div class="accordion-item hint-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#task_w_file_{{task_w_file.pk}}_hint"
                                                                    aria-expanded="true" aria-controls="task_w_file_{{task_w_file.pk}}_hint">
                                                                <h4>Подсказка</h4>
                                                            </button>
                                                        </h2>
                                                        <div id="task_w_file_{{task_w_file.pk}}_hint" class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <span>{{task_w_file.hint}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="question-text mb-3">{{task_w_file.description}}</div>
                                                    <form action="{% url 'education_app:answer_to_task_w_file' %}" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{answer_to_task_w_file_form.file}}
                                                        <input type="hidden" id="task" name="task" value="{{task_w_file.pk}}">
                                                        <button type="submit" class="btn">Отправить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="lesson-content">
                    <div class="lesson-text">

                    </div>
                    <div class="code-questions">
                        <h2 style="text-align: center;">Для завершения урока напишите код</h2>
                        <hr class="border-2 border-top" style="border-color:gray;"/>

                        <div class="accordion" id="code_task_list">
                            {% for code_task in code_task_form.code_tasks %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#code_task_{{code_task.pk}}" aria-expanded="false" aria-controls="code_task_{{code_task.pk}}">
                                            <h4>{{code_task.title}} | {{code_task.program_language.lang}}

                                                {% if request.user in code_task.students_that_solved.all %}
                                                    <span id="solved_{{code_task.pk}}" class="badge text-bg-success" style="margin-left: 20px;">Solved!</span>
                                                {% else %}
                                                    <span id="solved_{{code_task.pk}}" class="badge text-bg-success" style="margin-left: 20px;"></span>
                                                {% endif %}

                                            </h4>
                                        </button>
                                    </h2>
                                    <div id="code_task_{{code_task.pk}}" class="accordion-collapse collapse" data-bs-parent="#task-list">
                                        <div class="accordion-body">
                                            <div class="question">
                                                <div class="accordion-item hint-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse" data-bs-target="#code_task_hint_{{code_task.pk}}"
                                                                aria-expanded="false" aria-controls="code_task_hint_{{code_task.pk}}">
                                                        <h4>Подсказка</h4>
                                                        </button>
                                                    </h2>
                                                    <div id="code_task_hint_{{code_task.pk}}" class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <span>{{code_task.hint}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="question-text mb-3">{{code_task.description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="code-redactor-block">
                            <div class="code-redactor">
                                <select class="form-select mb-4 w-25" id="lang-lst">
                                    {% for lang in code_task_form.langs %}
                                        <option value="{{lang}}">{{lang}}</option>
                                    {% endfor %}
                                </select>
                                <div class="place_to_write_code">
                                    <form action="{% url 'education_app:check_code_task' object.pk %}" id="editor_form" method="POST">
                                        {% csrf_token %}
                                        {{code_task_form.editor}}

                                        <div class="clearfix">
                                            <button type="submit" class="btn execute_code_btn float-end">RUN</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="result" id="result_block">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}

{% block js %}


    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>

    <script src="{% static 'js/lesson_ajax_cod_tests.js' %}"></script>

    <script src="{% static 'js/lesson_06_04_24.js' %}"></script>

{% endblock %}
