<nav class="navbar navbar-expand-lg" style="background-color: #712cf9;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FOUNDATION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Дашборд</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Каталог</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        USERNAME
                        <img src="https://sun9-32.userapi.com/impg/IaqxUAQgYJJc0fumcFS5sQm_H_SGRw_QAbcKDg/i_Cp1wajLGo.jpg?size=807x617&quality=95&sign=68735e3103b3de803efe4bbf927c31b6&c_uniq_tag=mIiR1q2Kz05YggeAJGyaF_XbgQTAIv_xGzr9luFJ44U&type=album"
                             alt="Bootstrap" width="46" height="46" style="border-radius: 12px; margin-left: 12px;">
                    </a>

                    <ul class="dropdown-menu" style="right: 0; left: auto; background-color: #712cf9;">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" href="#">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>