{% extends 'base.html' %}

{% block head %}
    <style>
        .sortable-list {
          list-style-type: none;
          padding: 0;
        }
        .sortable-list li {
          font-size: 24px;
          margin-bottom: 5px;
          padding: 10px;
          background-color: #f4f4f4;
          border: 1px solid #ddd;
          cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}

<div class="errors" style="top:100px;">
    {% for key, value in form.errors.items  %}
    <div style="" class="alert bg" role="alert" onclick="this.style.display = 'none';">
      {{value}}
    </div>
    {% endfor %}
</div>

<div class="container">
    <div class="row">
        <form class="custom-form" style="margin-top:40px;" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10">
                    <div class="mb-3">
                        {{form.title}}
                    </div>
                </div>
                <div class="col-md-2">
                    {{ form.order }}
                </div>
            </div>
            <button class="btn float-end" style="margin-top:20px;">Сохранить изменения</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12" style="border-radius: 12px; margin-top:60px;">
            <ul id="sortable" class="sortable-list">
                {% for lesson in object.lesson_set.all %}
                    <li class="list-group-item">{{lesson.title}}<span style="float:right;">
                        <a href="{% url 'education_app:update_lesson' lesson.pk %}">Изменить</a>{{lesson.order}}</span>
                        <span  style="float:right;"><a href="{% url 'education_app:delete_lesson' lesson.pk %}">Удалить</a></span>
                    </li>
                {% endfor %}
                <li class="list-group-item text-center"><a class="btn" href="{% url 'education_app:create_lesson' object.pk %}">Добавить урок</a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
