{% extends 'base.html' %}

{% block head %}
    <style>
        .sortable-list {
          list-style-type: none;
          padding: 0;
        }
        .sortable-list li {
          font-size: 24px;
          margin-bottom: 5px;
          padding: 10px;
          background-color: #f4f4f4;
          border: 1px solid #ddd;
          cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form class="custom-form" style="margin-top:40px;" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10">
                    <div class="mb-3">
                        {{form.title}}
                    </div>
                </div>
                <div class="col-md-2">
                    {{ form.order }}
                </div>
            </div>
            <button class="btn float-end" style="margin-top:20px;">Сохранить изменения</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12" style="border-radius: 12px; margin-top:60px;">
            <ul id="sortable" class="sortable-list">
                {% for lesson in object.lesson_set.all %}
                    <li class="list-group-item">{{lesson.title}}<span style="float:right;">
                        <a href="{% url 'education_app:update_lesson' lesson.pk %}">Изменить</a>{{lesson.order}}</span>
                        <span  style="float:right;"><a href="{% url 'education_app:delete_lesson' lesson.pk %}">Удалить</a></span>
                    </li>
                {% endfor %}
                <li class="list-group-item"><a href="{% url 'education_app:create_lesson' object.pk %}">Добавить урок</a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(function() {
      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });
</script>

{% endblock %}