{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row" style="height: 100%;">
            <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="activity">
                            <div class="card activity">
                              <div class="card-body">
                                <h5 class="card-title">Ваша активность:</h5>
                                  <div class="card-text">
                                      {% for activity in activity_list %}
                                            {% if activity.lesson %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Урок <a href="">{{activity.lesson.title}}</a> решен</span> </div>
                                            {% elif activity.course_part %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Раздел <a href="">{{activity.course_part.title}}</a> завершен</span> </div>
                                            {% elif activity.simple_task %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Задача <a href="">{{activity.simple_task.title}}</a> решена</span> </div>
                                            {% elif activity.quiz %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Квиз <a href="">{{activity.quiz.title}}</a> решен</span> </div>
                                            {% elif activity.task %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Задача <a href="">{{activity.task.title}}</a> решена</span> </div>
                                            {% elif activity.course %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Курс <a href="">{{activity.course.title}}</a> завершен</span> </div>
                                            {% endif %}
                                      {% endfor %}
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card courses">
                          <div class="card-body">
                            <h5 class="card-title">Ваши курсы:</h5>
                            <div class="card-text">
                                {% for course in courses %}
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">{{course.title}}</h5>
                                        <p class="card-text">{{course.author}}</p>
                                        <div class="row align-items-center">
                                          <div class="col">
                                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                              <div class="progress-bar" style="width: {{course.percent_ready}}%"></div>
                                            </div>
                                          </div>
                                          <div class="col-auto">
                                              {% if course.next_lesson_pk %}
                                                {% if course.percent_ready == 100 %}
                                                    <a href="{% url 'education_app:lesson' course.next_lesson_pk %}" class="btn continue align-middle">Завершен <span class="badge rounded-pill bg-success">{{course.percent_ready}}%</span></a>
                                                {% else %}
                                                    <a href="{% url 'education_app:lesson' course.next_lesson_pk %}" class="btn continue align-middle">Продолжить <span class="badge rounded-pill text-bg-secondary">{{course.percent_ready}}%</span></a>
                                                {% endif %}
                                              {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                        {% if manual_test_result|length > 0 %}
                            <div class="card courses">
                              <div class="card-body">
                                <h5 class="card-title">Задания на ручной обработке:</h5>
                                <div class="card-text">
                                    {% for test_result in manual_test_result %}
                                        <div class="card">
                                          <div class="card-body">
                                              {% if test_result.simple_task %}
                                                    <h5 class="card-title">
                                                        <a href="{% url 'education_app:lesson' test_result.simple_task.lesson.pk %}">
                                                            {{test_result.simple_task.title}} {{test_result.time}}
                                                        </a>
                                                    </h5>
                                                    <p class="card-text">Ваш ответ:
                                                        {{test_result.answer}}
                                                    </p>

                                                    {% if test_result.comment %}
                                                        <p class="card-test">
                                                            {{test_result.comment}}
                                                        </p>
                                                    {% endif %}

                                              {% endif %}

                                                {% if test_result.task %}
                                                    <h5 class="card-title">
                                                        <a href="{% url 'education_app:lesson' test_result.task.lesson.pk %}">
                                                            {{test_result.task.title}} {{test_result.time}}
                                                        </a>
                                                    </h5>
                                                    <p class="card-text">Ваш ответ:
                                                        <a href="{{test_result.file.url}}">{{test_result.file}}</a>
                                                    </p>

                                                    {% if test_result.comment %}
                                                        <p class="card-test">
                                                            {{test_result.comment}}
                                                        </p>
                                                    {% endif %}
                                                {% endif %}

                                              <div style="font-size:24px;">
                                                {% if test_result.status is None %}
                                                  <span class="badge bg-secondary">В процессе</span>
                                                {% elif test_result.status is True %}
                                                  <span class="badge bg-success">Принято</span>
                                                {% else %}
                                                  <span class="badge bg-danger">Не принято</span>
                                                {% endif %}
                                              </div>

                                          </div>
                                        </div>
                                    {% endfor %}
                                </div>
                              </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}