{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="height: 100%;">
        <main class="col-md-12">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="user-first-part">
                        <div class="user-image-block text-center">
                            {% if object.image %}
                                <img src="{{object.image.url}}" class="img-fluid" alt="...">
                            {% else %}
                                <img src="{% static 'img/default_user.svg' %}" class="img-fluid" alt="default_photo">
                            {% endif %}
                        </div>
                        <div class="user-fio" style="line-break: anywhere;">
                            {{object.username}}
                        </div>
                        <div class="user-link">
                            {% if object.link_to_vk %}
                                <a class="user-link-item" href="{{object.link_to_vk}}">vk</a>
                            {% endif %}
                            {% if object.link_to_tg %}
                                <a class="user-link-item" href="{{object.link_to_tg}}">tg</a>
                            {% endif %}
                            {% if object.link_to_github %}
                                <a class="user-link-item" href="{{object.link_to_github}}">github</a>
                            {% endif %}
                            {% if object.link_to_site %}
                                <a class="user-link-item" href="{{object.link_to_site}}">site</a>
                            {% endif %}
                        </div>
                        {% if object.about %}
                            <div class="user-bio">
                                {{object.about}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                <div class="row">
                        <div class="col-12">
                            <div class="card activity">
                              <div class="card-body">
                                <h5 class="card-title">Активность:</h5>
                                  <div class="card-text">
                                      {% for activity in activity_list %}
                                            {% if activity.lesson %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Урок <a href="">{{activity.lesson.title}}</a> решен</span> </div>
                                            {% elif activity.course_part %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Раздел <a href="">{{activity.course_part.title}}</a> завершен</span> </div>
                                            {% elif activity.simple_task %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Задача <a href="">{{activity.simple_task.title}}</a> решена</span> </div>
                                            {% elif activity.quiz %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Квиз <a href="">{{activity.quiz.title}}</a> решен</span> </div>
                                            {% elif activity.course %}
                                                <div class="activity-item">{{activity.time}} <span style="color:#D0CECE;">Курс <a href="">{{activity.course.title}}</a> завершен</span> </div>
                                            {% endif %}
                                      {% endfor %}
                                  </div>
                              </div>
                            </div>
                        </div>
                    <div class="col-12">
                            <div class="card courses">
                      <div class="card-body">
                        <h5 class="card-title">Курсы:</h5>
                        <div class="card-text">
                            {% for course in courses %}
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">{{course.title}}</h5>
                                    <p class="card-text">{{course.author}}</p>
                                    <div class="row align-items-center">
                                      <div class="col">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                          <div class="progress-bar" style="width: {{course.percent_ready}}%"></div>
                                        </div>
                                      </div>
                                      <div class="col-auto">
                                          {% if course.next_lesson_pk %}
                                            {% if course.percent_ready == 100 %}
                                                <span class="badge rounded-pill bg-success">{{course.percent_ready}}%</span>
                                            {% else %}
                                                <span class="badge rounded-pill text-bg-secondary">{{course.percent_ready}}%</span>
                                            {% endif %}
                                          {% endif %}
                                      </div>
                                     </div>
                                  </div>
                                </div>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}